<div class="container">
  <div>
    <img class="top-img" src="../../assets/Signup.png">
    <h4 class="text-center default-black top">Please conform or edit your contact information, so that we can notify you when you are approved for our BETA.</h4><br>

    <hr class="top-line">
  </div>

  <div>
    <form method="post" [formGroup]="profileForm" (ngSubmit)="onSubmit()" #documentEditForm="ngForm">
      <div class="form-group">
        <label class="form-label">
          First Name
          <input type="text" class="form-control" formControlName="firstName">
        </label>
      </div>

      <div class="form-group">
        <label class="form-label">
          Last Name
          <input type="text" class="form-control" formControlName="lastName">
        </label>
      </div>

      <div class="form-group">
        <label class="form-label">
          Email Address
          <input type="email" class="form-control" formControlName="email">
        </label>
      </div>

      <div class="form-group">
        <label class="form-label">
          Password
          <input type="password" class="form-control pass" formControlName="password" placeholder="Type your password">
        </label>
      </div>

    </form>
  </div>

  <div>
    <hr class="top-line down">

    <div class="col-md-12 text-center">
      <button type="submit" [disabled]="!profileForm.valid" class="btn signup-btn" (click)="documentEditForm.ngSubmit.emit()">Sign Up</button>
    </div>
  </div>
</div>
