<div class="container">
  <img src="../../assets/home.png" class="img-fluid" alt="Home Image">
  <div>
    <div class="text-center font-weight-bold default-color">Real Estate Investing Information That Matters to You.</div>
    <h4 class="text-center default-black">Limited to the San Francisco Bay Area - Join our BETA!</h4>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <a [href]="URL" class="btn signup-btn btn-home">
        Sign up with LinkedIn
      </a>
    </div>
  </div>
</div>



